<h1>New source</h1>

<% form_for(@source) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :datafeed %><br />
    <%= f.text_field :datafeed %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sources_path %>
