<h1>Listing accounts</h1>

<table>
  <tr>
    <th><%= link_to 'Name', accounts_path(:order_by => 'name', :direction => 'ASC') %></th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Source</th>
  </tr>

<% for account in @accounts %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.source %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
